{% extends "TmsRestClientBundle:Browser:layout.html.twig" %}

{% block content %}
    <ul>
        <li>
            <h2>Find one</h2>
            <form action="{{ path('tms_restclient_browser_findone', {crawling_path: crawlingPath})}}" method="get" class="tms_search">
                <div><label for="path">Path</label><input type="text" name="path" /></div>
                <div><label for="slug">Slug</label><input type="text" name="slug" /></div>
                <div><input type="submit" value="Find one" /></div>
            </form>
        </li>
        <li>
            <h2>Find</h2>
            <form action="{{ path('tms_restclient_browser_find', {crawling_path: crawlingPath})}}" method="get" class="tms_search">
                <div><label for="path">Path</label><input type="text" name="path" /></div>
                <div><label for="params">Params (JSON)</label><textarea name="params"></textarea></div>
                <div><input type="submit" value="Find" /></div>
            </form>
        </li>
        <li>
            <h2>Info</h2>
            <form action="{{ path('tms_restclient_browser_getpathinfo', {crawling_path: crawlingPath})}}" method="get" class="tms_search">
                <div><label for="path">Path</label><input type="text" name="path" /></div>
                <div><input type="submit" value="Info" /></div>
            </form>
        </li>
    </ul>
{% endblock %}