<html>
    <head>
        <meta charset="UTF-8"></meta>

        <title>Hypermedia Browser</title>
    </head>

    <body>
        <h1>Hypermedia Browser</h1>

        <div>
            {% block content %}
            {% endblock %}
        </div>

        {% block nav %}
            <a href="{{ path('tms_restclient_browser_index')}}">Back to index</a>
        {% endblock %}
    </body>
</html>